@use 'partial';

body {
    background-color: partial.$bg-color;
    box-sizing: border-box;
    margin: 4 auto;
    padding: 0;
    font-family: partial.$font-family;
    }
  
  
    p{
      font-size: 20px;
      line-height: 1.5;
      color: partial.$text-color;
   }
  
  
      /* Stilarter for overskrifter */
  h1, h2, h3, h4 {
    font-weight: 400;
    color: partial.$text-color;
    font-size: 20px; 
    margin-left: 150px;
    position: relative; 
  }
  
  h5, h6 {
    font-weight: 400;
    color: partial.$text-color;
    font-size: 20px; 
  }
  
  h1:before, h2:before, h3:before, h4:before {
    content: "";
    position: absolute;
    width: 30px; 
    height: 0.5px; 
    background-color: #fff; 
    top: 50%; /* linjens vertikale position */
    left: -45px; /* Placerer linjen til venstre for teksten */
    transform: translateY(50%); /* Justerer linjens position så den er på midten af teksten vertikalt */
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  img{
  max-width: 100%;
  height: auto;
  }
  