// Knapper 
@use 'partial';

.cta {
    display: inline-block; /* Gør elementet til en blok, men bliver på linjen */
    padding: 10px 38px; /* Tilføjer plads til knappen */
    background-color: partial.$cta-color;
    color: #000000; 
    text-decoration: none; 
    border-radius: 1px; /* Afrundede hjørner */
    border: 2px solid partial.$cta-color; 
    transition: background-color 0.3s ease; 
  
    &:hover {
      background-color: #000; // Baggrundsfarven ændres til sort
      color: #fff; // Tekstfarven ændres til hvid
      border: 2px solid #fff; 
  }

    /* Centreringsregler */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
  