@use "partial";

.box-image {
  position: relative;
  overflow: hidden; /* Sikrer, at intet indhold går udenfor boksen */
}

.box-hover img {
  width: 100%;
  display: block; /* Fjerner eventuel margin/padding omkring billedet */
  transition: opacity 0.5s ease; /* Glat overgang */
}

.box-hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/cases/bybi_hover.png") center center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.box-hover:hover::after {
  opacity: 1;
}

//

.box-hover2 img {
  width: 100%;
  display: block; /* Fjerner eventuel margin/padding omkring billedet */
  transition: opacity 0.5s ease; /* Glat overgang */
}

.box-hover2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/cases/kaffe_hover.png") center center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.box-hover2:hover::after {
  opacity: 1;
}

//

.box-hover3 img {
  width: 100%;
  display: block; /* Fjerner eventuel margin/padding omkring billedet */
  transition: opacity 0.5s ease; /* Glat overgang */
}

.box-hover3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/cases/mærsk_hover.png") center center no-repeat;
  background-size: cover;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.box-hover3:hover::after {
  opacity: 1;
}
