@use "partial";

.box-image {
  position: relative;
  overflow: hidden; /* Sikrer, at intet indhold går udenfor boksen */
}

.box-image img {
  width: 100%;
  display: block; /* Fjerner eventuel margin/padding omkring billedet */
  transition: opacity 0.5s ease; /* Glat overgang */
}

.box-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/cases/bybi_hover.png") center center no-repeat;
  background-size: cover; /* Sørger for at baggrundsbilledet dækker hele boksen */
  opacity: 0; /* Gør pseudo-elementet gennemsigtigt som standard */
  transition: opacity 0.5s ease; /* Glat overgang */
}

.box-image:hover::after {
  opacity: 1; /* Gør baggrundsbilledet synligt ved hover */
}
