// Genanvendelige værdier: farver, skrifttyper, afstande. Fungerer som i Figma. Fx CTA-knappens farve.

/*Variabler*/

$bg-color: #000000; 
$nav-color: #ffffff;
$cta-color: #B0D0FF;
$hover-color: #000000;
$yellow: #FFD392; 
$red: #FFDBE5;
$blue: #B0D0FF;
$secondary-color: #ffffff;
$text-color: #ffffff;
$text-color-box: black; 
$padding: 0.5em;
$font: 'open sans';



/*Mixins*/

@mixin respond-to($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: 767px) { @content; } // Mobil enheder
  } @else if $breakpoint == "desktop" {
    @media (min-width: 768px) and (max-width: 1199px) { @content; } // Desktop og op til 1199px
  } @else if $breakpoint == "large-desktop" {
    @media (min-width: 1200px) { @content; } // Større end 1200px (store skærme)
  }
}

@mixin three-column-grid($column-gap: 4px, $row-gap: 4px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: $column-gap $row-gap; // Fast margin (mellemrum) mellem kolonner og rækker
  }

@mixin two-column-grid($column-gap: 10px, $row-gap: 10px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: $column-gap $row-gap; // Fast margin (mellemrum) mellem kolonner og rækker
  }

