// Genanvendelige værdier: farver, skrifttyper, afstande. Fungerer som i Figma. Fx CTA-knappens farve.

/*Variabler*/

$bg-color: #000000;
$secondary-color: #ffffff;

$yellow: #ffd392;
$red: #ffdbe5;
$blue: #b0d0ff;

$nav-color: #ffffff;
$cta-color: #b0d0ff;
$hover-color: #000000;

$text-color: #ffffff;
$text-color-box: #000000;

$font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

$padding: 0.5em;

// Definering af breakpoints som et map
$breakpoints: (
  mobile: 800px,
  tablet: 801px,
  desktop: 1281px,
  large-desktop: 1920px,
);

// Opdateret mixin til at bruge værdier fra $breakpoints map
@mixin respond-to($breakpoint) {
  @if $breakpoint == "mobile" {
    @media (max-width: map-get($breakpoints, mobile)) {
      @content;
    } //Mobil enheder
  } @else if $breakpoint == "tablet" {
    // Antager tablet som en mellemkategori
    @media (min-width: map-get($breakpoints, mobile)) and (max-width: map-get($breakpoints, desktop)) {
      @content;
    } // Tablet enheder
  } @else if $breakpoint == "desktop" {
    @media (min-width: map-get($breakpoints, desktop)) and (max-width: map-get($breakpoints, large-desktop)) {
      @content;
    }
    //@media (min-width: calc(#{map-get($breakpoints, desktop)} + 1px)) and (max-width: calc(#{map-get($breakpoints, large-desktop)} - 1px)) { @content; }// // Desktop
  } @else if $breakpoint == "large-desktop" {
    @media (min-width: map-get($breakpoints, large-desktop)) {
      @content;
    } // Større end 1200px (store skærme)
  }
}

/*Mixins*/

//Mobil version
@mixin two-column-grid($column-gap: 4px, $row-gap: 4px) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $column-gap $row-gap; // Fast margin (mellemrum) mellem kolonner og rækker
}

//Desktop version
@mixin three-column-grid($column-gap: 4px, $row-gap: 4px) {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $column-gap $row-gap; // Fast margin (mellemrum) mellem kolonner og rækker
}
