@use 'partial';

// Knapper 
.cta {
  display: inline-block; /* Gør elementet til en blok, men beholder den i linjen */
  padding: 10px 38px; /* Tilføjer intern plads til knappen */
  background-color: partial.$cta-color;
  color: #000000; /* Tekstfarven på knappen */
  text-decoration: none; /* Fjerner eventuelle understregninger */
  border-radius: 1px; /* Afrundede hjørner */
  border: 2px solid partial.$cta-color; 

  transition: background-color 0.3s ease; /* Tilføjer en glat overgangseffekt */

  &:hover {
    background-color: #000; // Baggrundsfarven ændres til sort
    color: #fff; // Tekstfarven ændres til hvid
    border: 2px solid #fff; 
}
}

body {
  // Mobilvenlige stilarter
  font-family: partial.$font;
  background-color: partial.$bg-color;
  box-sizing: border-box;
  margin: 4 auto;
  padding: 0;

    p{
        font-size: 20px;
        color: partial.$text-color;
        line-height: 1.5;
    }

    /* Stilarter for overskrifter */
h1, h2, h3, h4 {
  font-weight: 400;
  color: partial.$text-color;
  font-size: 20px; /* Ændret størrelse til 20 punkt */
  margin-left: 150px; /* Tilføjet en venstre margin */
  position: relative; /* Gør overskriften relativt positioneret */
}

h5, h6 {
  font-weight: 400;
  color: partial.$text-color;
  font-size: 20px; 
}

h1:before, h2:before, h3:before, h4:before {
  content: "";
  position: absolute;
  width: 30px; /* Bredden af den vandrette linje */
  height: 0.5px; /* Højden af den vandrette linje */
  background-color: #fff; /* Farven på linjen */
  top: 50%; /* linjens vertikale position */
  left: -45px; /* Placerer linjen til venstre for teksten */
  transform: translateY(50%); /* Justerer linjens position så den er på midten af teksten vertikalt */
}

a {
  text-decoration: none;
  color: #fff;
}

img{
max-width: 100%;
height: auto;
}
}

// Mobilvisning
@include respond-to("mobile") {
  
  header {
      // Tilpasninger for header på mobil
  }

  main {
    // Tilpasninger for hovedsektionen på desktop

    .box {
      width: 390px;
      height: 390px;
      background-color: #FFD392;
      padding: 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column; /* Stabler indholdet vertikalt */
      justify-content: center; /* Centrerer indholdet vertikalt */
      text-align: left; /* Venstrevendt tekst */
  }
  
  p {
      color: black;
      max-width: 90%; /* Sætter en maksimal bredde for teksten */
      text-align: left; /* Centrerer teksten */
      margin: 20px;
  }

  h6 {
    color: black;
    font-size: 20px; /* Tilpas størrelsen efter behov */
    font-weight: bold;
    margin-bottom: 10px;
    margin: 20px;
  }
  
  
}

  footer {
      // Tilpasninger for footer på mobil
  }
}


// Desktopvisning
@include respond-to("desktop") {

header {
  @include partial.three-column-grid(20px, 20px); // vores mixin 
  
  .logo-header {
    grid-column: span 1; // Tag 1 kolonneplads
    display: flex;
    justify-content: flex-start;
  }

  .desktop-nav {
      grid-column: span 1;
      display: flex;
      align-items: center; // Centrerer elementer lodret
     
      ul {
        list-style: none; // Fjerner punktopstilling fra listen
        padding: 0; // Fjerner padding fra listen
        display: flex; // Gør listen til en fleksibel container
        justify-content: center; // Centrerer elementer horisontalt    Navigation hælder til venstre
        li {
          margin-right: 20px; // Juster margen mellem elementer
          a {
            text-decoration: none;
            &:hover {
              color: partial.$red; // Ændrer farven ved hover
            }
          }
        }
      }
    }

  .linkedin {
    grid-column: span 1; // Tag 1 kolonneplads
    display: flex;
    justify-content: flex-end;
  }  
}

main {
// Tilpasninger for hovedsektionen på desktop
.box {
  width: 422px;
  height: 429px;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

// Farvevariationer
.box-yellow { background-color: partial.$yellow; }
.box-red { background-color: partial.$red; }
.box-blue { background-color: partial.$blue; }

// Tekststil
p {
  max-width: 90%;
  text-align: left;
  margin: 20px;
  color: black; // ny tekstfarve
}

h6 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin: 20px;
  color: black; // ny tekstfarve
}

.box-image img {
  max-width: 100%; // Sørger for, at billedet ikke overskrider boksens bredde
  height: auto; // Bevarer billedets oprindelige højde-bredde-forhold
  border-radius: 5px; // Matcher boksens afrunding
  // Tilføj yderligere stilindstillinger efter behov
}

.grid-container {
  @include partial.three-column-grid;
  justify-content: center;
  max-width: 100%;
}   
}

  footer {
    @include partial.three-column-grid;
    margin: 2em;
  
    .logo-footer, .contact, .services, .more {
      display: flex;
      flex-direction: column; // Stabler indholdet vertikalt
      align-items: flex-start; // Justerer indholdet til venstre (eller efter ønske)
  
      // Specifik styling for .logo-footer
      &.logo-footer {
        grid-column: span 1; // Tag 1 kolonneplads
        grid-row: 1; // Læg logo i første række
        justify-content: flex-start;
      }
  
      // Fælles styling for .contact, .services, .more med mulighed for justering per klasse
      &.contact, &.services, &.more {
        margin-left: 5em;
        grid-column: span 1;
      }
      
      // Individuelle kolonnejusteringer, hvis nødvendigt
      &.contact { grid-column: 1 / span 1; }
      &.services { grid-column: 2 / span 1; }
      &.more { grid-column: 3 / span 1; }
    }
  
    .social a {
      margin: 0 10px;
    }
}
}