@charset "UTF-8";
/*Variabler*/
/*Mixins*/
.cta {
  display: inline-block; /* Gør elementet til en blok, men beholder den i linjen */
  padding: 10px 38px; /* Tilføjer intern plads til knappen */
  background-color: #B0D0FF;
  color: #000000; /* Tekstfarven på knappen */
  text-decoration: none; /* Fjerner eventuelle understregninger */
  border-radius: 1px; /* Afrundede hjørner */
  border: 2px solid #B0D0FF;
  transition: background-color 0.3s ease; /* Tilføjer en glat overgangseffekt */
}
.cta:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}

body {
  font-family: "open sans";
  background-color: #000000;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* Stilarter for overskrifter */
}
body p {
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
}
body h1, body h2, body h3, body h4 {
  font-weight: 400;
  color: #ffffff;
  font-size: 20px; /* Ændret størrelse til 20 punkt */
  margin-left: 150px; /* Tilføjet en venstre margin */
  position: relative; /* Gør overskriften relativt positioneret */
}
body h5, body h6 {
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}
body h1:before, body h2:before, body h3:before, body h4:before {
  content: "";
  position: absolute;
  width: 30px; /* Bredden af den vandrette linje */
  height: 0.5px; /* Højden af den vandrette linje */
  background-color: #fff; /* Farven på linjen */
  top: 50%; /* Justerer linjens vertikale position */
  left: -45px; /* Placerer linjen til venstre for teksten */
  transform: translateY(50%); /* Justerer linjens position så den er på midten af teksten vertikalt */
}
body a {
  text-decoration: none;
  color: #fff;
}
body img {
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
  }
  header .logo-header {
    grid-column: span 1;
    display: flex;
    justify-content: flex-start;
  }
  header .desktop-nav {
    grid-column: span 1;
    display: flex;
    align-items: center;
  }
  header .desktop-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  header .desktop-nav ul li {
    margin-right: 20px;
  }
  header .desktop-nav ul li a {
    text-decoration: none;
  }
  header .desktop-nav ul li a:hover {
    color: #FFDBE5;
  }
  header .linkedin {
    grid-column: span 1;
    display: flex;
    justify-content: flex-end;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
    margin: 2em;
  }
  footer .logo-footer {
    grid-column: span 1;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
  }
  footer .contact {
    grid-column: 1/span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5em;
  }
  footer .services {
    grid-column: 2/span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5em;
  }
  footer .more {
    grid-column: 3/span 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5em;
  }
  footer .social a {
    margin: 0 10px;
  }
}/*# sourceMappingURL=style.css.map */