@use 'partial';
@use 'cta';
@use 'base';


// Mobilvisning
@include respond-to("mobile") {
  
  header {
      // Tilpasninger for header på mobil
  }

  main {
    // Tilpasninger for hovedsektionen på desktop
  }

  footer {
      // Tilpasninger for footer på mobil
  }
}


// Desktopvisning
@include respond-to("desktop") {

header {
  @include partial.three-column-grid(20px, 20px); // vores mixin 
  margin: 20px;
  align-items: center;
  
  .logo-header {
    grid-column: span 1; // Tag 1 kolonneplads
    display: flex;
    justify-content: flex-start;
  }

  .desktop-nav {
      grid-column: span 1;
      display: flex;
      align-items: center; // Centrerer elementer lodret
      justify-content: center;
      ul {
        list-style: none; // Fjerner punktopstilling fra listen
        padding: 0; // Fjerner padding fra listen
        display: flex; // Gør listen til en fleksibel container

        .desktop-nav a {
          transition: color 0.3s ease; // Glat farveskift ved hover
          a {
            text-decoration: none;
            &:hover {
              color: partial.$red; // Ændrer farven ved hover
            }
          }
        }
      }
    }

  .linkedin {
    grid-column: span 1; // Tag 1 kolonneplads
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }  
}

main {
// Tilpasninger for hovedsektionen på desktop

> * { // Dette vil målrette alle direkte børn af main
  margin-top: 20px; // Tilføjer plads over elementet
  margin-bottom: 20px; // Tilføjer plads under elementet
}

.box {
  width: 422px;
  height: 429px;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

// Farvevariationer
.box-yellow { background-color: partial.$yellow; }
.box-red { background-color: partial.$red; }
.box-blue { background-color: partial.$blue; }

// Tekststil
.box p {
  max-width: 90%;
  text-align: left;
  margin: 20px;
  color: black; // ny tekstfarve
}

.box h6 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  margin: 20px;
  color: black; // ny tekstfarve
}

.box-image img {
  max-width: 100%; // Sørger for, at billedet ikke overskrider boksens bredde
  height: auto; // Bevarer billedets oprindelige højde-bredde-forhold
  border-radius: 5px; // Matcher boksens afrunding
  // Tilføj yderligere stilindstillinger efter behov
}

.grid-container {
  @include partial.three-column-grid;
  justify-content: center;
  max-width: 100%;
}  

video {
  width: 100%; /* Videoen fylder hele bredden af dens container */
  height: auto; /* Beholder det originale højde-bredde-forhold */
  grid-column: span 3; /* Videoen strækker sig over tre kolonner */
}

}

  footer {
    @include partial.three-column-grid;
    margin: 2em;
  
    .logo-footer, .contact, .services, .more {
      display: flex;
      flex-direction: column; // Stabler indholdet vertikalt
      align-items: flex-start; // Justerer indholdet til venstre (eller efter ønske)
  
      // Specifik styling for .logo-footer
      &.logo-footer {
        grid-column: span 1; // Tag 1 kolonneplads
        grid-row: 1; // Læg logo i første række
        justify-content: flex-start;
      }
  
      // Fælles styling for .contact, .services, .more med mulighed for justering per klasse
      &.contact, &.services, &.more {
        margin-left: 5em;
        grid-column: span 1;
      }
      
      // Individuelle kolonnejusteringer, hvis nødvendigt
      &.contact { grid-column: 1 / span 1; }
      &.services { grid-column: 2 / span 1; }
      &.more { grid-column: 3 / span 1; }
    }
  
    .social a {
      margin: 0 10px;
    }
}
}