@charset "UTF-8";
/*Variabler*/
/*Mixins*/
.cta {
  display: inline-block; /* Gør elementet til en blok, men beholder den i linjen */
  padding: 10px 38px; /* Tilføjer intern plads til knappen */
  background-color: #B0D0FF;
  color: #000000; /* Tekstfarven på knappen */
  text-decoration: none; /* Fjerner eventuelle understregninger */
  border-radius: 1px; /* Afrundede hjørner */
  border: 2px solid #B0D0FF;
  transition: background-color 0.3s ease; /* Tilføjer en glat overgangseffekt */
}
.cta:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
}

body {
  font-family: "open sans";
  background-color: #000000;
  box-sizing: border-box;
  margin: 4 auto;
  padding: 0;
  /* Stilarter for overskrifter */
}
body p {
  font-size: 20px;
  color: #ffffff;
  line-height: 1.5;
}
body h1, body h2, body h3, body h4 {
  font-weight: 400;
  color: #ffffff;
  font-size: 20px; /* Ændret størrelse til 20 punkt */
  margin-left: 150px; /* Tilføjet en venstre margin */
  position: relative; /* Gør overskriften relativt positioneret */
}
body h5, body h6 {
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
}
body h1:before, body h2:before, body h3:before, body h4:before {
  content: "";
  position: absolute;
  width: 30px; /* Bredden af den vandrette linje */
  height: 0.5px; /* Højden af den vandrette linje */
  background-color: #fff; /* Farven på linjen */
  top: 50%; /* linjens vertikale position */
  left: -45px; /* Placerer linjen til venstre for teksten */
  transform: translateY(50%); /* Justerer linjens position så den er på midten af teksten vertikalt */
}
body a {
  text-decoration: none;
  color: #fff;
}
body img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  main .box {
    width: 390px;
    height: 390px;
    background-color: #FFD392;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; /* Stabler indholdet vertikalt */
    justify-content: center; /* Centrerer indholdet vertikalt */
    text-align: left; /* Venstrevendt tekst */
  }
  main p {
    color: black;
    max-width: 90%; /* Sætter en maksimal bredde for teksten */
    text-align: left; /* Centrerer teksten */
    margin: 20px;
  }
  main h6 {
    color: black;
    font-size: 20px; /* Tilpas størrelsen efter behov */
    font-weight: bold;
    margin-bottom: 10px;
    margin: 20px;
  }
}
@media screen and (min-width: 768px) {
  header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px 20px;
  }
  header .logo-header {
    grid-column: span 1;
    display: flex;
    justify-content: flex-start;
  }
  header .desktop-nav {
    grid-column: span 1;
    display: flex;
    align-items: center;
  }
  header .desktop-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  header .desktop-nav ul li {
    margin-right: 20px;
  }
  header .desktop-nav ul li a {
    text-decoration: none;
  }
  header .desktop-nav ul li a:hover {
    color: #FFDBE5;
  }
  header .linkedin {
    grid-column: span 1;
    display: flex;
    justify-content: flex-end;
  }
  main .box {
    width: 422px;
    height: 429px;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }
  main .box-yellow {
    background-color: #FFD392;
  }
  main .box-red {
    background-color: #FFDBE5;
  }
  main .box-blue {
    background-color: #B0D0FF;
  }
  main p {
    max-width: 90%;
    text-align: left;
    margin: 20px;
    color: black;
  }
  main h6 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin: 20px;
    color: black;
  }
  main .box-image img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  main .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px 4px;
    justify-content: center;
    max-width: 100%;
  }
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px 4px;
    margin: 2em;
  }
  footer .logo-footer, footer .contact, footer .services, footer .more {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .logo-footer.logo-footer, footer .contact.logo-footer, footer .services.logo-footer, footer .more.logo-footer {
    grid-column: span 1;
    grid-row: 1;
    justify-content: flex-start;
  }
  footer .logo-footer.contact, footer .logo-footer.services, footer .logo-footer.more, footer .contact.contact, footer .contact.services, footer .contact.more, footer .services.contact, footer .services.services, footer .services.more, footer .more.contact, footer .more.services, footer .more.more {
    margin-left: 5em;
    grid-column: span 1;
  }
  footer .logo-footer.contact, footer .contact.contact, footer .services.contact, footer .more.contact {
    grid-column: 1/span 1;
  }
  footer .logo-footer.services, footer .contact.services, footer .services.services, footer .more.services {
    grid-column: 2/span 1;
  }
  footer .logo-footer.more, footer .contact.more, footer .services.more, footer .more.more {
    grid-column: 3/span 1;
  }
  footer .social a {
    margin: 0 10px;
  }
}/*# sourceMappingURL=style.css.map */